<section class="h-screen">
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
      <div class="text-center lg:text-left" style="view-transition-name: heroText">
        <h1 class="text-5xl font-bold">¡Recupera tu cuenta!</h1>
        <p class="py-6">
          Ingresa tu correo electrónico para recibir un enlace de recuperación.
          Sigue las instrucciones para restablecer tu contraseña.
        </p>
      </div>
      <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl" style="view-transition-name: authForm">
        <div class="card-body">
          <fieldset class="fieldset">
            <label class="label">Correo electrónico</label>
            <input type="email" class="input" placeholder="Correo electrónico" />
            <button class="btn btn-neutral mt-4" routerLink="/auth/login">
              Enviar Correo de Recuperación
            </button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</section>
