<div class="border-2 rounded-box p-4">
  <h2 class="text-center text-2xl font-semibold mb-1">Datos de Contacto</h2>

  <!-- Formulario - Datos de Contacto -->
  <div class="flex flex-col gap-3 justify-center items-center">
    <!-- Primera fila -->
    <div class="w-full">
      <label class="floating-label w-full">
        <span>Dirección</span>
        <input
          type="text"
          placeholder="Dirección"
          class="input input-md w-full"
        />
      </label>
    </div>
    <!--  -->

    <!-- Segunda fila -->
    <div class="flex flex-row justify-around w-full">
      <div>
        <label class="floating-label">
          <span>Teléfono 1</span>
          <input
            type="tel"
            class="w-full input validator tabular-nums"
            placeholder="Teléfono 1"
            required
            pattern="[0-9]*"
            minlength="10"
            maxlength="10"
            title="Debe tener al menos 10 dígitos"
          />
          <p class="validator-hint">Debe tener al menos 10 dígitos</p>
        </label>
      </div>

      <div>
        <label class="floating-label w-full">
          <span>Teléfono 2</span>
          <input
            type="tel"
            class="input validator tabular-nums"
            placeholder="Teléfono 2"
            pattern="[0-9]*"
            minlength="10"
            maxlength="10"
            title="Debe tener al menos 10 dígitos"
          />
          <p class="validator-hint">Debe tener al menos 10 dígitos</p>
        </label>
      </div>
    </div>
    <!--  -->

    <!-- Tercera fila -->
    <div class="flex justify-around w-full">
      <label class="floating-label w-full">
        <span>Correo electrónico</span>
        <input
          type="email"
          placeholder="example@gmail.com"
          class="input input-md w-full"
        />
      </label>
    </div>
    <!--  -->
  </div>
</div>
