<br />
<body
  class="min-h-screen leading-normal overflow-x-hidden lg:overflow-auto mb-12 px-4 md:px-8 lg:px-0 not-lg:pb-10 pt-4"
>
  <main class="flex-1 lg:p-0 lg:pt-8 lg:px-8 lg:ml-24 flex flex-col">
    <section class="rounded-4xl shadow-xl/20 p-4 bg-base-200">
      <div class="lg:flex">
        <h2 class="uppercase tracking-wide mb-6 text-xl">
          IMPUTACIÓN PRESUPUESTAL
        </h2>
      </div>

      <form [formGroup]="budgetInformationForm" (ngSubmit)="onSubmit()">
        <div class="lg:flex mb-8">
          <div class="lg:w-1/3">
            <legend class="uppercase tracking-wide text-sm not-sm:text-center">
              Certificado de disponibilidad Presupuestal
            </legend>
          </div>

          <div class="lg:flex-1 mt-2 mb:mt-0 lg:px-3">
            <div class="lg:flex mb-4">
              <div class="lg:flex-1 lg:pr-3">
                <label
                  class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold text-nowrap overflow-hidden overflow-ellipsis"
                  >N. Certificado de disponibilidad Presupuestal
                </label>
                <input
                  formControlName="certificatedNumber"
                  class="w-full shadow-inner p-4 border-0 bg-base-100"
                  type="number"
                  name="document_number"
                  placeholder="Digite el número del certificado"
                />
                @if (controlHasError('certificatedNumber')) {
                <span class="text-xs mb-4 font-thin text-error">{{
                  getErrorMessage("certificatedNumber", 3)
                }}</span>
                }
              </div>
              <div class="lg:flex-1 lg:pl-3 not-lg:mt-3">
                <label
                  class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold text-nowrap"
                  >Fecha de expedición</label
                >
                <input
                  formControlName="expeditionDate"
                  class="w-full shadow-inner p-4 border-0 bg-base-100"
                  type="date"
                />
                @if (controlHasError('expeditionDate')) {
                <span class="text-xs mb-4 font-thin text-error">{{
                  getErrorMessage("expeditionDate")
                }}</span>
                }
              </div>
            </div>
          </div>
        </div>

        <div class="lg:flex mb-8">
          <div class="lg:w-1/3">
            <legend class="uppercase tracking-wide text-sm">Rubros</legend>
          </div>
          <div class="lg:flex-1 mt-2 mb:mt-0 lg:px-3">
            <div class="lg:flex lg:flex-col mb-4">
              <!-- Rubro Array -->
              <div formArrayName="rubros" class="flex-1">
                @for (control of rubrosArray.controls; track control; let i =
                $index) {
                <div
                  [formGroupName]="i"
                  class="lg:flex mb-4 items-center px-2 pb-2 not-lg:pt-2 rounded-2xl bg-base-300"
                >
                  <div class="lg:flex-2 lg:pr-3">
                    <label
                      class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold mt-2 text-nowrap"
                      >Nombre del rubro
                    </label>
                    <input
                      formControlName="rubroName"
                      class="w-full shadow-inner p-4 border-0 bg-base-100"
                      type="text"
                      name="document_number"
                      placeholder="Digite el nombre del rubro"
                    />
                    @if (controlHasError('rubros.' + i + '.rubroName')) {
                    <span class="text-xs mb-4 font-thin text-error">{{
                      getErrorMessage("rubros." + i + ".rubroName", 3)
                    }}</span>
                    }
                  </div>
                  <div class="lg:flex-2 lg:pr-3">
                    <label
                      class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold mt-2 text-nowrap"
                      >Código del rubro
                    </label>
                    <input
                      formControlName="rubroCode"
                      class="w-full shadow-inner p-4 border-0 bg-base-100"
                      type="number"
                      name="document_number"
                      placeholder="Digite el número del rubro"
                    />
                    @if (controlHasError('rubros.' + i + '.rubroCode')) {
                    <span class="text-xs mb-4 font-thin text-error">{{
                      getErrorMessage("rubros." + i + ".rubroCode", 3)
                    }}</span>
                    }
                  </div>
                  <div class="lg:flex-2 lg:pr-3">
                    <label
                      class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold mt-2 text-nowrap"
                      >Cantidad Asignada (Dinero)
                    </label>
                    <input
                      formControlName="allocatedAmount"
                      class="w-full shadow-inner p-4 border-0 bg-base-100"
                      type="number"
                      name="document_number"
                      placeholder="Digite la cantidad asignada"
                      (keyup)="onRubroChange()"
                    />

                    @if (controlHasError('rubros.' + i + '.allocatedAmount')) {
                    <span class="text-xs mb-4 font-thin text-error">{{
                      getErrorMessage("rubros." + i + ".allocatedAmount")
                    }}</span>
                    }
                  </div>
                  <div class="">
                    <button
                      type="button"
                      class="btn btn-error mt-2 not-lg:hidden"
                      (click)="removeRubro(i)"
                      (click)="onRubroChange()"
                      [disabled]="rubrosArray.length === 1"
                    >
                      X
                    </button>
                    <button
                      type="button"
                      class="btn btn-error mt-2 lg:hidden"
                      (click)="removeRubro(i)"
                      (click)="onRubroChange()"
                      [disabled]="rubrosArray.length === 1"
                    >
                      Eliminar
                    </button>
                  </div>
                </div>

                }
              </div>

              <div class="border w-fit">
                <label class="input">
                  <span class="label">Total:</span>
                  <div class="divider divider-horizontal"></div>
                  <input type="text" disabled [value]="rubrosTotal()" />
                </label>
              </div>
            </div>
            <button class="btn btn-dash" type="button" (click)="addRubro()">
              AGREGAR +
            </button>
          </div>
        </div>

        <div class="divider"></div>

        <div class="flex justify-around lg:justify-end lg:gap-3">
          <input
            (click)="onReset()"
            class="w-24 btn btn-warning"
            type="reset"
            value="Reset"
          />
          <input class="w-24 btn btn-success" type="submit" value="Guardar" />
        </div>
      </form>
    </section>
  </main>
</body>
