/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'tailwindcss-animated';
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes: corporate --default, dark --prefersdark;
}
@theme {
  --breakpoint-3xl: 120rem;
}

*::placeholder {
  @apply italic opacity-50;
}

/* Opción de la lista */
.ng-select .ng-option {
  padding: 0.75rem 1rem !important; /* p-4 */
  background-color: #fff !important;
  color: #000 !important;
  cursor: pointer !important;
}

.p-menu-active {
  @apply text-primary font-semibold border-b-2 border-primary;
}
